<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tainy.mapper.NoticeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tainy.entity.NoticeInfo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tainy.entity.NoticeInfo" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, CREATE_TIME, USER_ID, DEL_FLAG
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from NIMA_NOTICE_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from NIMA_NOTICE_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tainy.entity.NoticeInfo" >
    insert into NIMA_NOTICE_INFO (ID, TITLE, CREATE_TIME,
      USER_ID, DEL_FLAG, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=DECIMAL}, #{delFlag,jdbcType=DECIMAL}, #{content,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.tainy.entity.NoticeInfo" >
    insert into NIMA_NOTICE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tainy.entity.NoticeInfo" >
    update NIMA_NOTICE_INFO
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tainy.entity.NoticeInfo" >
    update NIMA_NOTICE_INFO
    set TITLE = #{title,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tainy.entity.NoticeInfo" >
    update NIMA_NOTICE_INFO
    set TITLE = #{title,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByPageListAllNoticeInfo" parameterType="com.tainy.entity.NoticeInfo" resultMap="ResultMapWithBLOBs">
    SELECT <include refid="Base_Column_List" />,
           <include refid="Blob_Column_List" />
      FROM NIMA_NOTICE_INFO
     WHERE 1 = 1
       AND DEL_FLAG = 0
       <if test="noticeInfo.title != null" >
       AND TITLE LIKE concat(concat('%',#{noticeInfo.title,jdbcType=VARCHAR}),'%')
     </if>
       <if test="noticeInfo.content != null" >
       AND CONTENT LIKE concat(concat('%',#{noticeInfo.content,jdbcType=VARCHAR}),'%')
     </if>
  ORDER BY CREATE_TIME DESC
  </select>
  <select id="selectNoticeInfoByObject" parameterType="com.tainy.entity.NoticeInfo" resultMap="ResultMapWithBLOBs">
    SELECT <include refid="Base_Column_List" />,
           <include refid="Blob_Column_List" />
      FROM NIMA_NOTICE_INFO
   <where>
       <if test="title != null" >
       AND TITLE = #{title,jdbcType=VARCHAR}
     </if>
       <if test="createTime != null" >
       AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
     </if>
       <if test="userId != null" >
       AND USER_ID = #{userId,jdbcType=DECIMAL}
     </if>
       <if test="delFlag != null" >
       AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
     </if>
       <if test="content != null" >
       AND CONTENT = #{content,jdbcType=CLOB}
     </if>
  </where>
  </select>
</mapper>